---
/**
 * * These are small cards with icons, titles, and text. With title first
 * This looks best with an even number of cards. They are smaller to
 * use with more cards in the same section. 4 or 6 cards is probably ideal
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

import { Icon } from "astro-icon/components";

// components
import FeatureCard from "@components/FeatureCard/FeatureCardSmall.astro";
import Badge from "@components/Badge/Badge.astro";

interface FeatureData {
  icon: string;
  title: string;
  text: string;
}

// data
const featureData: FeatureData[] = [
  {
    icon: "tabler/user",
    title: "Equipo",
    text: `Somos un equipo de profesionales altamente cualificados que desarrolla su actividad con la calidad y el cumplimiento de los compromisos adquiridos como filosofía de trabajo.`,
  },
  {
    icon: "tabler/circle-check",
    title: "Calidad",
    text: `Como premisa en la ejecución de cada trabajo, contamos con marcado CE para estructuras metálicas según EN-1090.`,
  },
  {
    icon: "tabler/bulb",
    title: "Innovación",
    text: `Procesos conectados digitalmente, desde el modelo BIM hasta la ejecución en taller.`,
  },
  {
    icon: "tabler/diamonds",
    title: "Precio",
    text: `Gracias a nuestra filosofía, podemos llegar a competir con los mejores precios del mercado.`,
  },
  {
    icon: "tabler/alert-triangle",
    title: "Prevención de Riesgos Laborales",
    text: `Es una parte esencial y clave del trabajo diario de cada una de nuestras actividades.`,
  },
  {
    icon: "tabler/heart",
    title: "Sostenibilidad",
    text: `En la toma de decisiones a la hora de diseñar los proyectos, nuestra balanza se decanta en el mínimo impacto ambiental.`,
  },
];
---

<section
  id="feature-cards-small"
  class="bg-[url('/assets/pattern-light.svg')] bg-center bg-no-repeat py-10 dark:bg-[url('/assets/pattern-dark.svg')]"
>
  <div class="site-container relative">
    <div class="mx-auto mb-16 text-center md:max-w-4xl" data-mos="fade-up">
      <Badge>Por qué Coimpul</Badge>
      <h2 class="h2 mb-4">Los valores que nos definen</h2>
      <p class="description text-lg text-pretty md:text-xl">
        Trabajamos con un compromiso firme hacia la calidad, la innovación y las personas,
        en cada proyecto que abordamos.
      </p>
    </div>
    <div id="trigger-small-cards" class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
      {
        featureData.map((feature, idx) => (
          <FeatureCard
            title={feature.title}
            text={feature.text}
            icon={feature.icon}
            data-mos="zoom-in"
            data-mos-delay={0.15 * idx}
            data-mos-anchor="#trigger-small-cards"
          />
        ))
      }
    </div>
  </div>
</section>
